base58~=2.1.1
bs4~=0.0.1
docx2python~=2.7.3
git+https://github.com/Naggafin/coinaddrvalidator.git # Temporary git until update of coinaddr library on pypi
monero~=1.1.1
openpyxl~=3.1.2
pandas~=2.1.3
psutil~=5.9.6
py7zr~=0.20.8
PyMuPDF
pyqt5~=5.15.10
rarfile~=4.1
striprtf~=0.0.26
web3>=6.15.1
mnemonic~=0.21